*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.container{
    margin: 15px;
    display: flex;
    /* align-items: center; */
    padding: 25px;
    justify-content: center;
    background-color: hsl(0, 0%, 5%);
    border-radius: 10px;
}

#duration{
    justify-content: right;
    align-items: end;
}

#title{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

#val{
    margin: 0px;
    padding: 5px;
    display: flex;
}

.val{
    padding: 5px;
}

.box{
    border-radius: 5px;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    color: white;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}